<?xml version="1.0" ?>
<robot name="rover" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find rover_description)/urdf/_d435.urdf.xacro" />
    
    <link name="camera_link">
    <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
    <box size="0.01 0.01 0.01"/>
        </geometry>
    </collision>

    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
    <box size="0.01 0.01 0.01"/>
        </geometry>
        <material name="silver">
        <color rgba="0.700 0.700 0.700 1.000"/>
        </material>
    </visual>

    <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
    </link>


    <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0.33 0.0 0.35" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
    </joint>


    <xacro:sensor_d435 name="depthcamera" parent="camera_link">
    <origin xyz="0.0 0.0 0.05" rpy="0 0 0" />
    </xacro:sensor_d435> 

</robot>