<?xml version="1.0" ?>
<robot name="rover" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rover_description)/urdf/materials.xacro" />

  <xacro:include filename="$(find rover_description)/urdf/rover.trans" />

  <xacro:include filename="$(find rover_description)/urdf/rover.gazebo" />

  <xacro:include filename="$(find rover_description)/urdf/rover_description.xacro" />


</robot>
