<?xml version="1.0"?>  
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo reference="camera_link">
      <gazebo reference="link1">
        <material>Gazebo/Orange</material>
      </gazebo>
      <sensor name="color" type="camera">
        <camera name="color">
          <image>
            <width>1280</width>
            <height>720</height>
            <format>RGB_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>10</update_rate>
        <visualize>0</visualize>
        <plugin name="color" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>30.0</updateRate>
          <frame_name>depth_link</frame_name>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
    
    <!-- mimic realsense d435 ability -->
    <gazebo reference="camera_link">
        <sensor type="depth" name="depth">
          <always_on>0</always_on>
          <update_rate>10</update_rate>
          <camera name="depth">
            <image>
              <width>1280</width>
              <height>720</height>
              <format>RGB_INT8</format>
            </image>
            <horizontal_fov>1.57</horizontal_fov>
            <distortion>
              <k1>0.1</k1>
              <k2>0.2</k2>
              <k3>0.3</k3>
              <p1>0.4</p1>
              <p2>0.5</p2>
              <center>0.5 0.5</center>
            </distortion>
          </camera>

          <plugin name="depth" filename="libgazebo_ros_camera.so">
            <frame_name>depth_link</frame_name>
            <hack_baseline>0.07</hack_baseline>
            <min_depth>0.4</min_depth>
            <max_depth>200.0</max_depth>
          </plugin>
        </sensor>
    </gazebo>
</robot>