<?xml version="1.0"?>  
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="gazebo_d435" params="topics_ns" >

    <!-- Load parameters to model's main link-->
    <xacro:property name="deg_to_rad" value="0.01745329251994329577" />
    <gazebo reference="stereo_camera_left_frame">
      <gazebo reference="link1">
        <material>Gazebo/Orange</material>
      </gazebo>
      <sensor name="stereo_camera_left" type="camera">
        <camera name="stereo_camera_left">
          <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>RGB_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>90</update_rate>
        <visualize>0</visualize>
        <plugin name="stereo_camera_left" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <ros>
            <remapping>/stereo_camera_left/image_raw:=/stereo_camera/left/image_raw</remapping>
            <remapping>/stereo_camera_left/camera_info:=/stereo_camera/left/camera_info</remapping>
          </ros>
          <frame_name>stereo_camera_left_frame</frame_name>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
    <gazebo reference="stereo_camera_right_frame">
      <sensor name="stereo_camera_right" type="camera">
        <camera name="stereo_camera_right">
          <horizontal_fov>${85.2*deg_to_rad}</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>RGB_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>90</update_rate>
        <visualize>0</visualize>
        <plugin name="stereo_camera_right" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>stereo_camera_right</cameraName>
          <ros>
            <remapping>/stereo_camera_right/image_raw:=/stereo_camera/right/image_raw</remapping>
            <remapping>/stereo_camera_right/camera_info:=/stereo_camera/right/camera_info</remapping>
          </ros>
          <frame_name>stereo_camera_right_frame</frame_name>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
